:host {
  display: block;
}


.page {
  inline-size: 100%;
  max-inline-size: 1280px;
  margin-inline: auto;
}


.error {
  color: var(--anion-negative-text);
}


.tabs {
  margin-block: var(--anion-space-24) var(--anion-space-20);
  border-block-end: 1px solid var(--anion-border-subtle);
}

.panel--hidden {
  display: none;
}
